body{
  text-align: center;
  min-width: 1200 !important;
  background-image: url(https://github.com/Shivam-Raj-2007/S-W-O-W/blob/main/Image/background%20color4.jpg?raw=true);
  background-repeat: no-repeat;
}
